body {
    padding-top: 10px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 680px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(130, 156, 26, 0), #829c1a, rgba(130, 156, 26, 0));
}

.client img {
    background-position: center center;
    background-size: contain;
    max-height: 80px;
    width: 190px;
    background-repeat: no-repeat;
}

.tech img {
    background-position: center center;
    background-size: contain;
    max-height: 70px;
    width: 130px;
    background-repeat: no-repeat;
}

.block h2 {
    margin: 0 0 20px 0;
}

.block {
    margin: 40px 0;
}

.widget {
    margin: 20px 0;
    padding: 0 30px;
}

.color-white {
    color: #ffffff;
}

.conact-form {
    margin-top: 20px;
    padding: 15px 30px;
    background-color: #829c1a;
}

footer {
    padding: 15px 30px;
    background-color: #452b22;
    font-size: 11px;
}

    footer a {
        color: white;
    }

        footer a:hover {
            color: #829c1a;
        }

        footer a .social {
            height: 40px;
            width: 40px;
            float: left;
            margin-right: 3px;
        }


.slide-text {
    background: rgba(130, 156, 26, 0.8) none repeat scroll 0 0;
    max-width: 25%;
    padding: 10px 20px 20px;
    color: #fff;
    text-decoration: none;
    text-shadow: none;
    text-align: justify;
    text-justify: auto  
}

    .slide-text ul {
        text-align: left;
    }

.submenu {
    padding-top: 10px;
    background-color: #fdf3ed;
}

    .submenu a {
        float: left;
        margin-right: 25px;
        color: #d34b17;
        height: 30px;
    }

        .submenu a:hover {
            color: #829c1a;
        }


.logo {
    display: block;
    height: 70px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.price-panel .row {
    margin: 0 10px 10px 0;
}

.corporate-color-brown {
    color: #452b22;
}

.corporate-color-green {
    color: #829c1a;
}

.corporate-color-orange {
    color: #d34b17;
}

.service-block {
    padding: 10px 30px;
}

.background-corporate-color-biege {
    background-color: #d4cbc7;
}

.service-block-header {
    background-color: #d34b17;
    color: #fff;
    vertical-align: central;
    margin-bottom: 10px;
}

    .service-block-header h2 {
        margin: 15px;
    }

        .service-block-header h2 a, .service-block-header h2 a:visited {
            color: #fff;
        }

            .service-block-header h2 a:hover {
                color: #fff;
                text-decoration: underline;
            }

.service-block .service-block-description {
    padding: 0;
}

    .service-block .service-block-description a {
        color: #829c1a;
        font-weight: bold;
    }

.lists li {
    display: block;
    margin-bottom: 5px
}

    .lists li:before {
        /*Using a Bootstrap glyphicon as the bullet point*/
        content: "\e080";
        font-family: 'Glyphicons Halflings';
        font-size: 9px;
        float: left;
        margin-top: 4px;
        margin-left: -17px;
        color: #829c1a;
    }

    img.bottom {
    vertical-align: text-bottom;
}
    .text-grey {
        color:grey
    }

    .listwhy li {
    display: block;
    margin-bottom: 5px
}

    .listwhy li:before {
        /*Using a Bootstrap glyphicon as the bullet point*/
        content: "\e127";
        font-family: 'Glyphicons Halflings';
        font-size: 9px;
        float: left;
        margin-top: 4px;
        margin-left: -17px;
        color: #829c1a;
    }

    .service-table th {
            border: 1px solid #fff;
        }

        .service-table td {
            border: 1px solid #829c1a;
            font-size: 11pt;
        }

        .service-table .table tr, .service-table .table thead tr {
            border: none;
        }

        .service-table thead {
            background-color: #d34b17;
            color: #fff;
            text-align: center;
            vertical-align: middle;
        }

        .service-table .sub-header {
            background-color: #829c1a;
            color: #fff;
        }

        .service-table h4, .service-table h3 {
            margin: 0;
        }

            .service-table h4 span {
                margin: 0 10px 0 20px;
            }

        .service-table thead h2, .service-table thead h3 {
            text-align: center;
        }

        .service-table .no-top-border {
            border-top: none;
        }

        .service-table li {
            display: block;
        }

            .service-table li:before {
                /*Using a Bootstrap glyphicon as the bullet point*/
                content: "\e080";
                font-family: 'Glyphicons Halflings';
                font-size: 9px;
                float: left;
                margin-top: 4px;
                margin-left: -17px;
                color: #d34b17;
            }

            .carousel-button {
                background-color: #d34b17;  
                color: #fff
            }

            #map {
        width: 1140px;
        height: 297px; 
      }