body {
    padding-top: 10px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 680px;
}


.client img {
    background-position: center center;
    background-size: contain;
    max-height: 80px;
    width: 190px;
    background-repeat: no-repeat;
}

.widget {
    margin: 20px 0;
    padding: 0 30px;
}

.color-white {
    color: #ffffff;
}

.conact-form {
    margin-top: 20px;
    padding: 15px 30px;
    background-color: #829c1a;
}

footer {
    padding: 15px 30px;
    background-color: #452b22;
    font-size: 11px;
}

    footer a {
        color: white;
    }

        footer a:hover {
            color: #829c1a;
        }

        footer a .social {
            height: 40px;
            width: 40px;
            float: left;
            margin-right: 3px;
        }


.slide-text {
    background: rgba(130, 156, 26, 0.8) none repeat scroll 0 0;
    max-width: 25%;
    padding: 10px 20px 20px;
    color: #fff;
    text-decoration: none;
    text-shadow: none;
}

    .slide-text ul {
        text-align: left;
    }

.submenu {
    padding-top: 10px;
    background-color: #fdf3ed;
}

    .submenu a {
        float: left;
        margin-right: 25px;
        color: #d34b17;
        height: 30px;
    }

        .submenu a:hover {
            color: #829c1a;
        }


.logo {
    display: block;
    height: 70px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.price-panel .row {
    margin: 0 10px 10px 0;
}
