
@{
    ViewBag.Title = "ApplicationsDevelopment";
}

<div class="row margin-bottom-10 text-justify" style="vertical-align: central">
    <div class="col-md-6" style="background-color: ghostwhite">
        <br/><br/><br/><br/>There are two main reasons why companies decide to look at the software development outsourcing.
        One is the IT skills shortage and the fact it leads to the expences increase. <br>
        If we compare the cost for inhouse development or nearshore outsourcing providers to the IT providers
        from the developng countries, on average, it's 30-50% cheaper.<br>
        To address the abovementioned <b class="corporate-color-orange">Tecwi</b>
        offers <b class="corporate-color-green">a combination of cost cut </b> due to the development hub
        in Ukraine and<b class="corporate-color-green">
            mitigation of any develping country related financial
            risks for our clients
        </b> due to the United Kingdom origin, settlements through our Headquaters in London.
    </div>
    <div class="col-md-6">
        <img src="~/Content/images/outsource.png" class="img-responsive"/>
    </div>
</div>

<div class="row margin-bottom-10">
    <div class="col-md-12">
        <h2 class="corporate-color-brown">What do Tecwi offer?</h2>
    </div>
</div>



@*<div class="row price-panel">*@
@*    <div class="col-md-12">*@
@*        <div class="row text-justify">*@
@**@
@*            <div class="col-md-2"></div>*@
@*            <div class="col-md-5">*@
@*                <b>Team</b>*@
@*            </div>*@
@*            <div class="col-md-5">*@
@*                <b>Project</b>*@
@*            </div>*@
@*        </div>*@
@**@
@*        <div class="row">*@
@*            <div class="col-md-2"></div>*@
@*            <div class="col-md-5">*@
@*                <div class="row">*@
@*                    <div class="col-md-6 corporate-color-brown text-center">100% remote</div>*@
@*                    <div class="col-md-6 corporate-color-brown text-center"><span class="corporate-color-orange">Tecwi</span> based</div>*@
@*                </div>*@
@*            </div>*@
@*            <div class="col-md-5"></div>*@
@*        </div>*@
@**@
@*        <div class="row">*@
@*            <div class="col-md-2">Description</div>*@
@*            <div class="col-md-5">*@
@*                Custom-recruited software developers/teams*@
@*                <div class="row">*@
@*                    <div class="col-md-6">100% remote-sourcing</div>*@
@*                    <div class="col-md-6">*@
@*                        Within <span class="corporate-color-orange">Tecwi</span> offices in Ukraine*@
@*                    </div>*@
@*                </div>*@
@*            </div>*@
@*            <div class="col-md-5">*@
@*                Turn key project executed <span class="corporate-color-orange">Tecwi</span>internal team*@
@*            </div>*@
@*        </div>*@
@**@
@*        <div class="row">*@
@*            <div class="col-md-2">Who bears risks?</div>*@
@*            <div class="col-md-5">Most delivery risks are on Clinet's side</div>*@
@*            <div class="col-md-5">*@
@*                Shared <span class="corporate-color-orange">Tecwi</span> Client*@
@*            </div>*@
@*        </div>*@
@**@
@*        <div class="row">*@
@*            <div class="col-md-2">*@
@*                <span class="corporate-color-orange">Tecwi</span> responsibilities*@
@*            </div>*@
@*            <div class="col-md-5">*@
@*                <div class="row">*@
@*                    <div class="col-md-12">Sourcing dedicated developers</div>*@
@*                </div>*@
@*                <div class="row">*@
@*                    <div class="col-md-12">*@
@*                        Full staff support: HR, retetion programs, hardware specialists,*@
@*                        business trip coordination, payroll and other payments administration*@
@*                    </div>*@
@*                </div>*@
@*                <div class="row">*@
@*                    <div class="col-md-6"></div>*@
@*                    <div class="col-md-6">*@
@*                        Workspace in <span class="corporate-color-orange">Tecwi</span>*@
@*                        offices, conference rooms, lounge zones, kitchens*@
@*                    </div>*@
@*                </div>*@
@*            </div>*@
@*            <div class="col-md-5">*@
@*                <div class="row">*@
@*                    <div class="col-md-12">Project planing and management</div>*@
@*                </div>*@
@*                <div class="row">*@
@*                    <div class="col-md-12">Team</div>*@
@*                </div>*@
@*                <div class="row">*@
@*                    <div class="col-md-12">Facilities: office, hard + software</div>*@
@*                </div>*@
@*                <div class="row">*@
@*                    <div class="col-md-12">Project delivery</div>*@
@*                </div>*@
@*            </div>*@
@*        </div>*@
@*        <div class="row">*@
@*            <div class="col-md-2">What we expect from you?</div>*@
@*            <div class="col-md-5">*@
@*                <div class="row">*@
@*                    <div class="col-md-12">Project management</div>*@
@*                    <div class="col-md-12">Satisfaction feedback</div>*@
@*                </div>*@
@*            </div>*@
@*            <div class="col-md-5">*@
@*                Providing business requirements<br />*@
@*                Negotiating deadlines and expectations<br />*@
@*                Dedicated contact for mid-road clarifications and checks<br />*@
@*                Satisfaction feedback*@
@*            </div>*@
@*        </div>*@
@**@
@*        <div class="row">*@
@*            <div class="col-md-2">Pricing options</div>*@
@*            <div class="col-md-5">*@
@*                <div class="row">*@
@*                    <div class="col-md-12">Salary:</div>*@
@*                    <div class="col-md-12">*@
@*                        <div class="row">*@
@*                            <div class="col-md-6">*@
@*                                Monthly based salary rate<br>Per hour salary rate*@
@*                            </div>*@
@*                            <div class="col-md-6">Monthly based salary rate</div>*@
@*                        </div>*@
@*                    </div>*@
@*                </div>*@
@*                <div class="row">*@
@*                    <div class="col-md-12">Facilities:</div>*@
@*                    <div class="col-md-12">*@
@*                        <div class="row">*@
@*                            <div class="col-md-6">not applicable</div>*@
@*                            <div class="col-md-6">Hard + software</div>*@
@*                        </div>*@
@*                    </div>*@
@*                </div>*@
@*            </div>*@
@*            <div class="col-md-5">*@
@*                <div class="col-md-12">Lump Sum Turn Key</div>*@
@*                <div class="col-md-12">Facilities: n/a</div>*@
@*            </div>*@
@**@
@*        </div>*@
@*    </div>*@
@*</div>*@




