
@{
    ViewBag.Title = "ApplicationsDevelopment";
}

<div class="row margin-bottom-10">
    <div class="col-md-12">
        <img src="~/Content/images/app_dev.png" class="image-responsive" />
    </div>
</div>

<div class="row text-justify" style="vertical-align: central">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12 margin-bottom-10">
                <h3>
                    <span class="glyphicon glyphicon-search corporate-color-green"></span> Custom Product Development
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                There are two main reasons why companies decide to look at the software development outsourcing.
                One is the IT skills shortage and the fact it leads to the expences increase.
                If we compare the cost for inhouse development, on average, it's 30-50% cheaper.<br>
                The second reason is imroved efficiency - looking outside the company to today's market for so many different kinds of business services
                allows the luxury to consider the options none thought possible a few years ago.<br><br>

                <div style="color: grey; border-left: 3px solid #d34b17; padding-left: 10px">
                    We offer you an opportunity to trade ownership for results.<br /><br />
                    We earn our pay just by pushing the performance of your operations beyond the performance you are capable of. Supply cost-effective and innovation are the milestones for us
                </div>
                @*            To address the abovementioned <b class="corporate-color-orange">Tecwi</b>*@
                @*            offers <b class="corporate-color-green">a combination of cost cut </b> due to the development hub*@
                @*            in Ukraine and<b class="corporate-color-green">*@
                @*                mitigation of any develping country related financial*@
                @*                risks for our clients*@
                @*            </b> due to the United Kingdom origin, settlements through our Headquaters in London.*@
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <img src="~/Content/images/outsource.png" class="img-responsive" />
    </div>
</div>
<hr />
@*<div class="row margin-bottom-10">*@
@*    <div class="col-md-12 corporate-color-brown">*@
@*        <div style="vertical-align: central">*@
@*            <h3 style="float: left">*@
@*                <b class="glyphicon glyphicon-cog corporate-color-green"></b> What we offer in particular?*@
@*            </h3>*@
@*            @Html.ActionLink("Compare to \"My Development Team\"", "Index", "Services", null, new { @class = "corporate-color-green" })*@
@*        </div>*@
@*        </div>*@
@*</div>*@


<div class="row text-justify">
    <div class="col-md-4 service-block">
        <div class="row">
            <div class="col-md-12 text-center service-block-header" style="padding-bottom: 10px; padding-top: 10px">
                <h4><span class="glyphicon glyphicon-th-list" style="margin-right: 10pt"></span> Project Types</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="color: grey">
                <ul class="lists">
                    <li> Turnkey projects from the scratch</li>
                    <li>Integration with systems that you already utilize</li>
                    <li> Legacy IT system transformation</li>
                    <li> Moving to Cloud</li>
                    <li> Data Warehousing solutions</li>
                    <li> Startups, etc...</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4 service-block">
        <div class="row">
            <div class="col-md-12 text-center service-block-header" style="padding-bottom: 10px; padding-top: 10px">
                <h4><span class="glyphicon glyphicon-briefcase" style="margin-right: 10pt"></span> What do we do?</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="color: grey">
                <span class="corporate-color-orange">Tecwi</span> offers umbrella software development for custom projects from inception to launch
                and beyond. Our inhouse team delivers full spectrum of custom software development - we help you to design, develop, deploy and run next-
                generation products that will bring your business to new orbit. Mor specifically, our services include:<br />
                <ul class="lists">
                    <li>
                        Prototyping the idea,
                        <abbr title="Minimum Value Product" class="initialism">MVP</abbr> concept, architecture set-up
                    </li>
                    <li> Coding and design</li>
                    <li> Testing and QA</li>
                    <li> Roll-out support: end-product trainings, preventive maintenance, troubleshooting</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4 service-block">
        <div class="row">
            <div class="col-md-12 text-center service-block-header" style="padding-bottom: 10px; padding-top: 10px">
                <h4><span class="glyphicon glyphicon-hand-right" style="margin-right: 10pt"></span> Your part</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="color: grey">
                We aim to provide you with a seamless package of services and thereby free you from managing the pieces. You entrust
                <span class="corporate-color-orange">Tecwi</span> with the full responsibility for delivering the project while retaining predictibility, transparency and control over costs.
                We just expect to negotiate the project scope, deadlines and your expectations, we also need dedicated contact for mid-road clarifications and checks, finally we expect your kind feedback on our collaboration
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-right">
            @Html.ActionLink("Compare to \"My Development Team\" >>", "Index", "Services", null, new { @class = "corporate-color-green" })
        </div>
    </div>
</div>


<hr />
<div class="row margin-bottom-10">
    <div class="col-md-12 corporate-color-brown">
        <h3> <b class="glyphicon glyphicon-cog corporate-color-green"></b>   How it works?</h3>
    </div>
</div>

<div class="row margin-bottom text-center">
    <div class="col-md-12">
        <div class="row" style="margin-bottom:50px">
            <div class="col-md-2">
                <h4 class="corporate-color-orange"><img src="~/Content/images/idea_app_dev.png" class="image-responsive" /> Step 1</h4>
                You challenge us with the concept
            </div>
            <div class="col-md-1" style="vertical-align: bottom">
                <img src="~/Content/images/arrow.png" class="image-responsive" />
            </div>
            <div class="col-md-2">
                <h4 class="corporate-color-orange">
                    <img src="~/Content/images/prototype.png" class="image-responsive" />  Step 2
                </h4>
                We design and prototype
            </div>
            <div class="col-md-1">
                <img src="~/Content/images/arrow.png" class="image-responsive" />
            </div>
            <div class="col-md-2">
                <h4 class="corporate-color-orange">
                    <img src="~/Content/images/dev_app_dev.png" class="image-responsive" />  Step 3
                </h4>
                We develop and deploy
            </div>
            <div class="col-md-1">
                <img src="~/Content/images/arrow.png" class="image-responsive" />
            </div>
            <div class="col-md-3">
                <h4 class="corporate-color-orange">
                    <img src="~/Content/images/support_app_dev.png" class="image-responsive" />  Step 4
                </h4>
                Roll-out suppport and further maintenance
            </div>
        </div>
    </div>
</div>


