@model IEnumerable<Mango.Entities.Models.ServiceModel>

@{
    ViewBag.Title = "Our services";
}

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th rowspan="2"><img src="~/Content/images/loupe.png" class="img-responsive" /></th>
                        <th colspan="2">Team</th>
                        <th rowspan="2">Project</th>
                    </tr>
                    <tr>
                        <th>100% remote</th>
                        <th>Tecwi based</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td rowspan="2">Description</td>
                        <td colspan="2">
                            Custom-recruited software developers/teams
                        </td>
                        <td rowspan="2">Turn key project executed Tecwiinternal team</td>
                    </tr>

                    <tr>
                        <td>
                            <ul>
                                <li>100% remote-sourcing</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>Within <b class="corporate-color-orange">Tecwi</b> offices in Ukraine</li>
                            </ul>
                        </td>
                    </tr>

                    <tr>
                        <td>Who bears risks?</td>
                        <td colspan="2">Most delivery risks are on Clinet's side</td>
                        <td> Shared <span class="corporate-color-orange">Tecwi</span> Client</td>
                    </tr>

                    <tr>
                        <td rowspan="2">Tecwi responsibilities</td>
                        <td colspan="2">
                            <ul>
                                <li>Sourcing dedicated developers</li>
                                <li>Full staff support: HR, retetion programs, hardware specialists, business trip coordination, payroll and other payments administration</li>
                            </ul>
                        </td>
                        <td rowspan="2">
                            <ul>
                                <li>Project planing and management</li>
                                <li>Team</li>
                                <li>Facilities: office, hard + software</li>
                                <li>Project delivery</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Workspace in <span class="corporate-color-orange">Tecwi</span> offices, conference rooms, lounge zones, kitchens</td>
                    </tr>

                    <tr>
                        <td>What we expect from you?</td>
                        <td colspan="2">
                            <ul>
                                <li>Project management</li>
                                <li>Satisfaction feedback</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>Providing business requirements</li>
                                <li>Negotiating deadlines and expectations</li>
                                <li>Dedicated contact for mid-road clarifications and checks</li>
                                <li>Satisfaction feedback</li>
                            </ul>
                        </td>
                    </tr>

                    <tr>
                        <td>Pricing options</td>
                        <td>
                            <b>Salary:</b><br />
                            <ul>
                                <li>Monthly based salary rate</li>
                                <li>Per hour salary rate</li>
                            </ul>
                            <br />
                            <b>Facilities:</b><br />
                            <ul>
                                <li>Not applicable</li>
                            </ul>
                        </td>
                        <td>
                            <b>Salary:</b><br />
                            <ul>
                                <li>Monthly based salary rate</li>
                                <li>Per hour salary rate</li>
                            </ul>
                            <br />
                            <b>Facilities:</b><br />
                            <ul>
                                <li>Hardware</li>
                                <li>Software</li>
                            </ul>
                        </td>
                        <td>
                            <b>Compensation:</b><br />
                            <ul>
                                <li>Lump Sum Turn Key</li>
                            </ul>
                            <br />


                            <b>Facilities:</b><br />
                            <ul>
                                <li>Not applicable</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
