@model IEnumerable<Mango.Entities.Models.ServiceModel>

@{
    ViewBag.Title = "Services";
}

<div class="row margin-bottom-30">
    <div class="col-md-12">
        <img src="~/Content/images/cookies.png" class="image-responsive" />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive service-table">
            <table class="table">
                <thead class="text-center">
                    <tr>
                        <th colspan="2" style="border-bottom: none; border-right:none">
                            <h2>Dedicated Development Team</h2>
                        </th>
                        <th rowspan="2"><h2>Custom Product Development</h2></th>
                    </tr>
                    <tr>
                        <th class="col-md-4"><h3><span class="glyphicon glyphicon-headphones" style="margin-right: 10pt"></span> 100% remote</h3></th>
                        <th class="col-md-4"><h3><span class="glyphicon glyphicon-home" style="margin-right: 10pt"></span>Tecwi based</h3></th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td colspan="2" class="text-center">
                            Custom-recruited software developers/teams
                        </td>
                        <td rowspan="2" class="text-center">Turn key project executed Tecwiinternal team</td>
                    </tr>

                    <tr>
                        <td>
                            <ul>
                                <li>100% remote-sourcing</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>Within <b class="corporate-color-orange">Tecwi</b> offices in Ukraine</li>
                            </ul>
                        </td>
                    </tr>
                    <tr class="sub-header">
                        <td colspan="3">
                            <h4><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span> Who bears risks?</h4>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2" class="text-center">Most delivery risks are on Clinet's side</td>
                        <td class="text-center"> Shared <span class="corporate-color-orange">Tecwi</span> Client</td>
                    </tr>

                    <tr class="sub-header">
                        <td colspan="3">
                            <h4><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> Tecwi responsibilities</h4>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3">
                                    <ul>
                                        <li>Sourcing dedicated developers</li>
                                        <li>
                                            Full staff support:
                                            <ul>
                                                <li>HR</li>
                                                <li>Retetion programs</li>
                                                <li>Hardware specialists</li>
                                                <li>Business trip coordination</li>
                                                <li>Payroll and other payments administration</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </td>
                        <td rowspan="2">
                            <ul>
                                <li>Project planing and management</li>
                                <li>Team</li>
                                <li>Facilities: office, hard + software</li>
                                <li>Project delivery</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <ul>
                                <li>
                                    Workspace in <b class="corporate-color-orange">Tecwi</b> offices, conference rooms, lounge zones, kitchens
                                </li>
                            </ul>
                        </td>
                    </tr>

                    <tr class="sub-header">
                        <td colspan="3">
                            <h4><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> What we expect from you?</h4>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <div class="row">
                                <div class="col-md-4 col-md-offset-4">
                                    <ul>
                                        <li>Project management</li>
                                        <li>Satisfaction feedback</li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td>
                            <ul>
                                <li>Providing business requirements</li>
                                <li>Negotiating deadlines and expectations</li>
                                <li>Dedicated contact for mid-road clarifications and checks</li>
                                <li>Satisfaction feedback</li>
                            </ul>
                        </td>
                    </tr>

                    <tr class="sub-header">
                        <td colspan="3">
                            <h4><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Pricing options</h4>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>Salary:</b><br />
                            <ul>
                                <li>Monthly based salary rate</li>
                                <li>Per hour salary rate</li>
                            </ul>
                            <br />
                            <b>Facilities:</b><br />
                            <ul>
                                <li>Not applicable</li>
                            </ul>
                        </td>
                        <td>
                            <b>Salary:</b><br />
                            <ul>
                                <li>Monthly based salary rate</li>
                                <li>Per hour salary rate</li>
                            </ul>
                            <br />
                            <b>Facilities:</b><br />
                            <ul>
                                <li>Hardware</li>
                                <li>Software</li>
                            </ul>
                        </td>
                        <td>
                            <b>Compensation:</b><br />
                            <ul>
                                <li>Lump Sum Turn Key</li>
                            </ul>
                            <br />


                            <b>Facilities:</b><br />
                            <ul>
                                <li>Not applicable</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
