
@{
    ViewBag.Title = "SoftwareQualityAssurance";
}
<div class="row margin-bottom-10">
    <div class="col-md-12">
        <img src="~/Content/images/computers.png" class="image-responsive" />
    </div>
</div>

<h2>SoftwareQualityAssurance</h2>

"Quality is never an accident; it is always the result of high intention, sincere effort, intelligent direction and skillful execution; it represents the wise choice of many alternatives."
— Willa A. Foster

"I would rather be surrounded by smart people than have a huge budget. Smart people will get you there faster."


We are your ledder to success.


“A mind is like a parachute. It doesn't work if it is not open.”
― Frank Zappa

"Logic will get you from A to B. Imagination will take you everywhere"
- Albert Enstein

