
@{
    ViewBag.Title = "My Development Team";
}

<div class="row text-justify">
    <div class="row margin-bottom-10">
        <div class="col-md-12">
            <img src="~/Content/images/test_your_dev_team.png" class="img-responsive" />
        </div>
    </div>
</div>

<div class="row margin-bottom-10">
    <div class="col-md-12">
        <h3>
            <span class="glyphicon glyphicon-search corporate-color-green"></span> My Development Team
        </h3>
    </div>
</div>

<div class="row margin-bottom-30">
    <div class="col-md-12 text-justify">
        Dedicated development team service helps you onbord custom-recruited team of software developers as an extension to your
        own infrastructure. You manage the team directly so that it fully integrates into your business culture while <span class="corporate-color-orange">Tecwi</span>
        ensures complex staff support:
    </div>
</div>

<div class="row text-justify text-grey">
    <div class="col-md-3 margin-bottom-20">
        <div class="row text-center">
            <div class="col-md-12">
                <img src="~/Content/images/Human_resource_icons.png"  />
                <h5>HR & Retention</h5>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12" style="padding-left: 20px; padding-right: 20px">
                We assist you hire best of bread skills fast through highly-quality interviews, as well as upscale or downscale easily with one month notice.
                Retention programs are one of the key aspects, so we are keeping abreast to latest market developments and keeping on generating
                fresh team-building ideas
            </div>
        </div>
    </div>

    <div class="col-md-3  margin-bottom-20">
        <div class="row text-center">
            <div class="col-md-12">
                <img src="~/Content/images/Payment.png" />
                <h5>Payroll and other Payments </h5>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12" style="padding-left: 20px; padding-right: 20px">
                We are fully responsible for establishing 100% efficient payment infrastructure.
                We also take care of ensuring the best banking terms and conditions for the staff through <abbr title="Reference for Proposal" class="initialism">RFP</abbr> competitive practices
            </div>
        </div>
    </div>

    <div class="col-md-3  margin-bottom-20">
        <div class="row text-center">
            <div class="lists">
                <img src="~/Content/images/tech-support.png" />
                <h5>Complex Staff Support</h5>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12" style="padding-left: 20px; padding-right: 20px">
                <ul class="lists">
                    <li> business trips coordination;</li>
                    <li> staff legal and accounting support;</li>
                    <li>system administrators' support;</li>
                </ul>
                any other needed support..
            </div>
        </div>
    </div>

    <div class="col-md-3  margin-bottom-20">
        <div class="row text-center">
            <div class="col-md-12">
                <img src="~/Content/images/workspace.png" />
                <h5>Inspiring Workplace</h5>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12" style="padding-left: 20px; padding-right: 20px">
                If you choose to domicile your dedicated team within one of our locations we ensure workspace in B+ class business offices, secured networks, telephones, conference rooms, lounge zones, canteen, meals, sports, corporate events
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 service-block">
        <div class="row text-center service-block-header" style="padding-top: 10px; padding-bottom: 10px">
            <h4>
                <span class="glyphicon glyphicon-headphones" style="margin-right: 10pt"></span> 100% Remote Team
            </h4>
        </div>
        <div class="row text-justify">
            <div class="col-md-12" style="padding-right: 20px">
                <ul class="lists">
                    <li> 100% remote team brings you unprecedented cost efficiency - workplace arrangement costs are completely eliminated;</li>
                    <li>100% remote team brings added flexibility in staff reward options: you can choose monthly based salary rate or hourly salary rate;</li>
                    <li>
                        100% remote team option is based on freelancers team with whom we have a proven track record. Our freelance team members are highly
                        "professionally diversified", meaning they are getting involved in many different projects and
                        dynamically enrich their skillset. They are also extremely client-oriented, easy-going and highly motivated since their image makes their success
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6 service-block">
        <div class="row text-center service-block-header" style="padding-top: 10px; padding-bottom: 10px">
            <h4>
                <span class="glyphicon glyphicon-home" style="margin-right: 10pt"></span> Domiciling Team within Tecwi locations
            </h4>
        </div>
        <div class="row text-justify">
            <div class="col-md-12" style="padding-right: 20px">
                <ul class="lists">
                    <li>
                        domiciling dedicated developers team within Tecwi offices helps you to grow your own team with greater control and still less costs
                        comparing to managing in-house software development;
                    </li>
                    <li>
                        you easily onboard team members with min organizational issues being involved in - we ensure workspace in B+ class business offices,
                        conference rooms, lounge zones, canteen, meals, sports, corporate events. Hard and software equipment is the only thing we expect you to cover,
                        for sure we have several assistance options here<br /><br /><br />
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row" style="text-align: center">
    <div class="col-md-12">
        @Html.ActionLink("Compare options", "Index", "Services", null, new { @class = "btn btn-default btn-default", @style = "background-color: #d34b17;  color: #fff" })
    </div>
</div>
<hr />
<div class="row margin-bottom-10">
    <div class="col-md-12 corporate-color-brown">
        <h3>
            <b class="glyphicon glyphicon-cog corporate-color-green"></b> How it works?
        </h3>
    </div>
</div>

<div class="row margin-bottom-30 text-center">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12 corporate-color-orange">
                <h4><img src="~/Content/images/communication_your_dev-Team.png" /> Step 1</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">We probe for Your requirements and needs</div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12 corporate-color-orange">
                <h4> <img src="~/Content/images/shortlist_your_dev_team.png" /> Step 2</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">We shortlist the candidates for you</div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12 corporate-color-orange">
                <h4><img src="~/Content/images/interview_your_dev_team.png" /> Step 3</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">You interview and hire the best</div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12 corporate-color-orange">
                <h4> <img src="~/Content/images/partnership.png" /> Step 4</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">We start our success story</div>
        </div>
    </div>
</div>