@{
    ViewBag.Title = "About";
}
<div class="row margin-bottom-10">
    <div class="col-md-12">
        <img src="~/Content/images/about_us.png" class="img-responsive" />
@*        <img src="~/Content/images/about_us_v2.png" class="img-responsive" />*@
        <div class="carousel-caption slide-text">
            <p>
                <span class="glyphicon glyphicon-bullhorn corporate-color-orange" aria-hidden="true"></span> Innovative professionals. Delivered.
            </p>
        </div>
    </div>
</div>
@*<div class="row margin-bottom-10" style="vertical-align: central">*@
@*    <div class="col-md-6">*@
@*        <img src="~/Content/images/team.png" />*@
@*    </div>*@
@*    <div class="col-md-6 corporate-color-orange text-justify img-rounded" style="text-align: center">*@
@*        <h2>*@
@*            <span class="glyphicon glyphicon-bullhorn corporate-color-green" aria-hidden="true"></span> Innovative professionals. Delivered.*@
@*        </h2>*@
@*    </div>*@
@*</div><br><br>*@
<div class="row margin-bottom-10" style="background-color: ghostwhite">
    <div class="col-md-12 text-justify">
        <h2 class="corporate-color-brown">We are Tecwi</h2>
        <p>
            We are young and dynamic custom software outsource and outstaffing business partner who will thoroughly farmiliaze ourselves with your
            business and help drive efficiency and development. We help you on-board talented professionals for efficient and robust
            projects whatever the scale and complexity is.<br/>
            <b class="corporate-color-orange">Tecwi</b> was founded in 2011 by software developers with years of commercial experience in the UK, Europe, the USA and Canada.<br/>
            We are London based private limited company with the development hub in Ukraine.<br/>
            <span class="glyphicon glyphicon-menu-right corporate-color-green" aria-hidden="true"></span> <b class="corporate-color-green">Our values</b> is to go beyond clients' expectations by bringing together innovations, technology and talent.<br/>
            <span class="glyphicon glyphicon-menu-right corporate-color-green" aria-hidden="true"></span> <b class="corporate-color-green">Our mission</b> is to meet enterprise challenges and address innovative business opportunities in order to maximize business result.
        </p>
    </div>
</div>
<div class="row margin-bottom-10 corporate-color-orange text-center">
    <h3 class="col-md-4"><span class="glyphicon glyphicon-check corporate-color-green" aria-hidden="true"></span>35+ young and dynamic professionals</h3>
    <h3 class="col-md-4"><span class="glyphicon glyphicon-check corporate-color-green" aria-hidden="true"></span>Over 5 years of Team successs story</h3>
    <h3 class="col-md-4"><span class="glyphicon glyphicon-check corporate-color-green" aria-hidden="true"></span>Let's grow together!</h3>
</div><br /><br />
<div class="row margin-bottom-10" style="vertical-align: central">
    <div class="col-md-6">
        <img src="~/Content/images/UK_map.png"/>
    </div>
    <div class="col-md-6">
        <img src="~/Content/images/Ukraine_map.png" />
    </div>
</div>
<br /><br />
