@{
    ViewBag.Title = "About";
}
<div class="row margin-bottom-10">
    <div class="col-md-12">
        <img src="~/Content/images/why_tecwi_v2.png" class="img-responsive"/> 
@*        <img src="~/Content/images/about_us.png" class="img-responsive" />*@
        @*        <img src="~/Content/images/about_us_v2.png" class="img-responsive" />*@
        <div class="carousel-caption slide-text" style="vertical-align: central">
            <span class="glyphicon glyphicon-bullhorn corporate-color-orange" aria-hidden="true" style="margin-right: 5px"></span> Innovative professionals. Delivered.
        </div>
    </div>
</div>

<div class="row margin-bottom-10">
    <div class="col-md-12">
        <h3 class="corporate-color-brown">
            <span class="glyphicon glyphicon-thumbs-up corporate-color-green" aria-hidden="true" style="margin-right: 10px"></span> We are Tecwi
        </h3>
    </div>
</div>

<div class="row margin-bottom-30">
    <div class="col-md-9 text-justify">
        <div class="row margin-bottom-30" style="padding-right: 20px">
            <div class="col-md-12">
                We are young and dynamic custom software outsource and outstaffing business partner who will thoroughly familiarize ourselves with your
                business and help drive efficiency and development. We help you on-board talented professionals for efficient and robust
                projects whatever the scale and complexity is. As well as efficiently outsource custom software development and independent software quality assurance as a reliable provider.<br />
                <span class="corporate-color-orange">Tecwi</span> was founded in 2011 by software developers who has gained deep experience in executing international projects in the UK, Europe, the USA and Canada.<br />
                We are London based private limited company with the R&D centers in Ukraine.<br />
            </div>
        </div>
        <div class="row" style="padding-right: 25px">
            <div class="col-md-12" style="color: grey; border-left: 3px solid #d34b17; padding-left: 10px; margin-left: 15px">
                <span class="corporate-color-green">Our value</span> is to go beyond clients' expectations by bringing together innovations, technology and talent<br />
                <span class="corporate-color-green">Our mission</span> is to meet enterprise challenges and address innovative business opportunities in order to maximize clients' business results
            </div>
        </div>
    </div>
    <div class="col-md-3" style="color: grey; border-left: 3px solid #829c1a; padding-left: 15px; padding-top: 30px">
        <div class="row" style="padding-bottom: 10px">
            <div class="col-md-12">
                <h5><span class="glyphicon glyphicon-check corporate-color-green" aria-hidden="true" style="margin-right: 10px"></span>35+ young and dynamic professionals</h5>
            </div>
        </div>
        <div class="row margin-bottom-10" style="padding-bottom: 15px">
            <div class="col-md-12">
                <h5><span class="glyphicon glyphicon-check corporate-color-green" aria-hidden="true" style="margin-right: 10px"></span>Over 5 years of Tecwi success story</h5>
            </div>
        </div>
        <div class="row margin-bottom-10" style="padding-bottom: 15px">
            <div class="col-md-12">
                <h5><span class="glyphicon glyphicon-check corporate-color-green" aria-hidden="true" style="margin-right: 10px"></span>Let's grow together!</h5>
            </div>
        </div>
    </div>
</div>

@*<div class="row margin-bottom-30 corporate-color-orange text-center">*@
@*    <h4 class="col-md-4"><span class="glyphicon glyphicon-check corporate-color-green" aria-hidden="true" style="margin-right: 10px"></span>35+ young and dynamic professionals</h4>*@
@*    <h4 class="col-md-4"><span class="glyphicon glyphicon-check corporate-color-green" aria-hidden="true" style="margin-right: 10px"></span>Over 5 years of Tecwi successs story</h4>*@
@*    <h4 class="col-md-4"><span class="glyphicon glyphicon-check corporate-color-green" aria-hidden="true" style="margin-right: 10px"></span>Let's grow together!</h4>*@
@*</div>*@

<div class="row margin-bottom-10" style="vertical-align: central">
    <h3 class="col-md-6 margin-bottom-10 corporate-color-brown">
        <span class="glyphicon glyphicon-map-marker corporate-color-orange" aria-hidden="true"></span>
        Our office in The United Kingdom
    </h3>
    <h3 class="col-md-6 margin-bottom-10 corporate-color-brown text-left">
        <span class="glyphicon glyphicon-map-marker corporate-color-orange" aria-hidden="true"></span>
        Our offices in Ukraine
    </h3>
</div>

<div class="row margin-bottom-30" style="vertical-align: text-bottom">
    <div class="col-md-5 corporate-color-green" style="margin-left: 20px">
        <p>
            <img src="~/Content/images/United_Kingdom_map.png" class="bottom" />
            <span style="border-bottom: solid 1px grey">Our Headquarters and Sales office in London, UK</span>
        </p>
    </div>

    <div class="col-md-6 corporate-color-green" style="margin-left: 20px">
        <p>
            <img src="~/Content/images/Ukraine_map_v2.png" class="bottom" />
            <span style="border-bottom: solid 1px grey"> Our R&D hubs in Kiev and Lviv, Ukraine</span>
        </p>
    </div>
</div>

<div class="row margin-bottom-10 text-grey text-center">
    <div class="col-md-3">
        <div class="row">
            <img src="~/Content/images/negotiations_room.png" class="image-responsive" />
        </div>
        <div class="row">
            <h5>Our main negotiations room</h5>
        </div>
    </div>

    <div class="col-md-3">
        <div class="row">
            <img src="~/Content/images/scrum_room.png" class="image-responsive" />
        </div>
        <div class="row">
            <h5>Our scrum meeting room</h5>
        </div>
    </div>

    <div class="col-md-3">
        <div class="row">
            <img src="~/Content/images/kitchen.png" class="image-responsive" />
        </div>
        <div class="row">
            <h5>Our canteen - coffee source</h5>
        </div>
    </div>

    <div class="col-md-3">
        <div class="row">
            <img src="~/Content/images/founder.png" class="image-responsive" />
        </div>
        <div class="row">
            <h5>Our founder - Tecwi nucleus, he is a sponge full of knowledge</h5>
        </div>
    </div>
</div>
