@{
    ViewBag.Title = "Contact";
}
<div class="row margin-bottom-10">
    <div class="col-md-12">
        <img src="~/Content/images/Contacts.png" class="img-responsive" />
    </div>
</div>
<div class="row margin-bottom-10" style="vertical-align: central; background-color: ghostwhite">
    <div class="col-md-6">
        <h3>London:</h3><br />
        <address>
            <div>
                <span class="glyphicon glyphicon-pencil corporate-color-orange" aria-hidden="true"></span>
                71-75, Shelton Street,<br />
                Covent Garden,<br />
                London, WC2H 9JQ<br />
            </div>
            <div>
                <span class="glyphicon glyphicon-phone corporate-color-orange" aria-hidden="true"></span>
                <abbr title="Phone">P:</abbr>
                +44 7936 455126
            </div>
            <div>
                <span class="glyphicon glyphicon-send corporate-color-orange" aria-hidden="true"></span>
                <a href="mailto:headquaters@tecwi.com">headquaters@tecwi.com</a><br />
            </div>
        </address>
    </div>
    <div class="col-md-6" style="background-color: ghostwhite">
        <h3>Kiev:</h3><br />
        <address>
            <div>
                <span class="glyphicon glyphicon-pencil corporate-color-orange" aria-hidden="true"></span>
                4, Mykoly Hrinchenka Street,<br />
                Horizon Park BC,<br />
                Kiev, 03038<br />
            </div>
            <div>
                <span class="glyphicon glyphicon-phone corporate-color-orange" aria-hidden="true"></span>
                <abbr title="Phone">P:</abbr>
                +38 095 465 79 66,

            </div>
            <div>
                <span class="glyphicon glyphicon-send corporate-color-orange" aria-hidden="true"></span>
                <a href="mailto:kiev@tecwi.com">kiev@tecwi.com</a><br />
            </div>
        </address>
    </div>
</div>
<div class="row margin-bottom-10" style="vertical-align: central">
    <div class="col-md-6">
        <img src="~/Content/images/Me.png" />
    </div>
    <div class="col-md-6">
        For sales inquiries,<br />
        please contact Natalie Hubal<br />
        <abbr title="Phone">P:</abbr>
        +38 097 828 06 30
    </div>
</div>
<div class="row margin-bottom-10" style="vertical-align: central">
    <h3 class="col-md-6 margin-bottom-10 corporate-color-brown">
        <span class="glyphicon glyphicon-map-marker corporate-color-orange" aria-hidden="true"></span>
        Our office in The United Kingdom
    </h3>
    <h3 class="col-md-6 margin-bottom-10 corporate-color-brown">
        <span class="glyphicon glyphicon-map-marker corporate-color-orange" aria-hidden="true"></span>
        Our office in Ukraine
    </h3>
</div>
<div class="row margin-bottom-10" style="vertical-align: central">
    <div class="col-md-6">
        <img src="~/Content/images/UK_map.png" />
    </div>
    <div class="col-md-6">
        <img src="~/Content/images/Ukraine_map.png" />
    </div>
</div>
<div class="row margin-bottom-10" style="text-align: center">
    <div class="col-md-12 corporate-color-brown">
        <h4>Payment details</h4>
        <p>
            Tecwi Limited, <br />

            71-75, Shelton Street, Covent Garden, <br />
            London, WC2H 9JQ<br />

            ID: 10032741<br />
            Tax: CZ25090607<br />

            a/c no.: 2107350288/2700<br />
            IBAN: CZ98 2700 0000 0021 0735 0288<br />
            SWIFT: BACXCZPP<br />

            Registered at Companies House, London,the Registar of Companies for England and Wales
        </p>
    </div>
</div>
@{
    Html.RenderAction("Create", "Message");
}

