@{
    ViewBag.Title = "Contact";
}

<div class="row hidden-xs">
    <div class="col-md-12">
        <div id="map"></div>
    </div>   
</div>

@section scripts
{
    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            initMap();
        });

        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 5,
                center: { lat: 52.2296756, lng: 21.0122287 }
            });
            setMarkers(map);
        }

        var tecwiLocations = [
            ['Kiev', 50.4546600, 30.5238000, 3],
            ['Lvov', 49.8382600, 24.0232400, 2],
            ['London', 51.5085300, -0.1257400, 1]
        ];

        function setMarkers(map) {

            var image = {
                url: 'http://localhost:5118/Content/images/mark.png',
                size: new google.maps.Size(150, 70),
                origin: new google.maps.Point(0, 0),
                anchor: new google.maps.Point(40, 50)
            };

            var shape = {
                coords: [1, 1, 1, 20, 18, 20, 18, 1],
                type: 'poly'
            };

            for (var i = 0; i < tecwiLocations.length; i++) {
                var tecwiLocation = tecwiLocations[i];
                var marker = new google.maps.Marker({
                    position: { lat: tecwiLocation[1], lng: tecwiLocation[2] },
                    map: map,
                    icon: image,
                    shape: shape,
                    title: tecwiLocation[0],
                    zIndex: tecwiLocation[3]
                });
            }
        }

    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4_kOVF1FzoO5iSDr0Vd1VwdI8vbbMm0Q&signed_in=true&callback=initMap"
            async defer></script>}

<div class="row margin-bottom-10">
    <div class="col-md-6">
        <div class="contact-header text-center">
            <h3 class="corporate-color-brown title-line hidden-xs">London</h3>
            <h3 class="corporate-color-brown hidden-sm hidden-md hidden-lg">London</h3>
            <img src="~/Content/images/london.jpg" class="img-responsive"/>
        </div>
        <address class="text-center">
            <div>
                <span class="glyphicon glyphicon-pencil corporate-color-orange" aria-hidden="true"></span>
                71-75, Shelton Street,<br />
                Covent Garden,<br />
                London, WC2H 9JQ<br />
            </div>
            <div>
                <span class="glyphicon glyphicon-phone corporate-color-orange" aria-hidden="true"></span>
                <abbr title="Phone">P:</abbr>
                +44 7936 455126
            </div>
            <div>
                <span class="glyphicon glyphicon-send corporate-color-orange" aria-hidden="true"></span>
                <a href="mailto:headquaters@tecwi.com">headquaters@tecwi.com</a><br />
            </div>
        </address>
    </div>
    <div class="col-md-6">
        <div class="contact-header text-center">
            <h3 class="corporate-color-brown title-line hidden-xs">Kiev</h3>
            <h3 class="corporate-color-brown hidden-sm hidden-md hidden-lg">Kiev</h3>
            <img src="~/Content/images/kiev.jpg" class="img-responsive"/>
        </div>
        <address class="text-center">
                <div>
                    <span class="glyphicon glyphicon-pencil corporate-color-orange" aria-hidden="true"></span>
                    4, Mykoly Hrinchenka Street,<br />
                    Horizon Park BC,<br />
                    Kiev, 03038<br />
                </div>
                <div>
                    <span class="glyphicon glyphicon-phone corporate-color-orange" aria-hidden="true"></span>
                    <abbr title="Phone">P:</abbr>
                    +38 095 465 79 66,

                </div>
                <div>
                    <span class="glyphicon glyphicon-send corporate-color-orange" aria-hidden="true"></span>
                    <a href="mailto:kiev@tecwi.com">kiev@tecwi.com</a><br />
                </div>
        </address>
    </div>
</div>

