
@{
    ViewBag.Title = "WhyTecwi";
}
<div class="row margin-bottom-10">
    <div class="col-md-12">
        <img src="~/Content/images/hands-in.png" class="image-responsive" />
        @*        <img src="~/Content/images/why_tec.png" class="image-responsive" /> *@
        @*        <img src="~/Content/images/lamps_big.png" class="image-responsive" />*@
    </div>
</div>

<div class="row margin-bottom-10">
    <div class="col-md-12">
        <h3 class="corporate-color-brown">
            <span class="glyphicon glyphicon-thumbs-up corporate-color-green" aria-hidden="true" style="margin-right: 10px"></span> Why Tecwi?
        </h3>
    </div>
</div>

<div class="row margin-bottom-30">
    <div class="col-md-12">
        In Tecwi we believe that the successfull cooperation is based on understanding and sharing our Client's core culture,
        strategic priorities and specific needs. By listening and understanding we design and integrate our solutions better.
        We team up with our Client to perform vital functions at competitive rates and every skill level.<br/>
        Yet as outsourcing evolves, the dynamics are shifting and opportunities are expanding. Holding down costs is just one of
        its main benefits. We are strategically leveraging relationships with our Client to help it become not only more profitable,
        but also more strategic, innovative, flexible <br/>
    </div>
</div>

<div class="row margin-bottom-10">
    <div class="col-md-6" style="border-left: 3px solid #d34b17; padding-top: 10px; padding-left: 10px">
        We aim to become a driver for your growth and transfrmation in the long run
    </div>
    <div class="col-md-6">
        <blockquote class="blockquote-reverse corporate-color-orange" style="font-size: 13px">
            <em>Minds are like parachutes. They only function when open</em><br />
            <span style="color: grey"><cite title="Sir Thomas Dewar">Sir Thomas Dewar (1864 - 1930)</cite></span>
        </blockquote>
    </div>
</div>

@*<div class="row margin-bottom-30 text-justify">*@
@*    <div class="col-md-7" style="color: grey; border-left: 3px solid #d34b17; padding-left: 10px; margin-left: 3px">*@
@*        We aim to become a driver for your growth and transfrmation in the long run*@
@*    </div>*@
@*    <div class="col-md-5">*@
@*        <blockquote class="blockquote-reverse corporate-color-orange" style="font-size: 13px">*@
@*            <em>Minds are like parachutes. <br/>They only function when open</em><br />*@
@*            <span style="color: grey"><cite title="Sir Thomas Dewar">Sir Thomas Dewar (1864 - 1930)</cite></span>*@
@*        </blockquote>*@
@*    </div>*@
@*</div>*@

<div class="row margin-bottom-30 text-justify">
    <div class="col-md-6 text-left">
        <div class="row margin-bottom-30">
            <div class="col-md-12">
                <ul class="lists text-grey">
                    <li> We help you find new value as well as new efficiencies while being committed to quality</li>
                    <li> We bring you improvement in cost level and its reduction, thus support your plans for growth</li>
                    <li> We do bring you innovations and higher productivity</li>
                    <li> We offer flexible, output-based pricing models</li>
                    <li>We keep your ambitious nimble. Through us you are gaining marketplace agility that's worthy</li>
                    <li>
                        With us you are reaping the value that comes with being able to scale up or down as needed, without
                        taking on the overhead or headaches that come with hiring, layoffs, or infrastructural investments
                    </li>
                    <li>To top it all, we bring you improved focus on core business</li>
                </ul>
            </div>
        </div>
        <div class="row margin-bottom-10" style="border-left: solid 3px #829c1a; margin-left: 5px">
            <div class="col-md-12">
                <div class="margin-bottom-10"> <span class="corporate-color-orange">Tecwi</span> is exclusively flexible and friendly. To prove that:<br /></div>
                <ul class="list-unstyled">
                    <li class="margin-bottom-10">
                        <span><span class="glyphicon glyphicon-hand-right corporate-color-green" aria-hidden="true"></span> trial 1 week project to showacase capabilities and your gain trust</span>
                    </li>
                    <li class="margin-bottom-10">
                        <span><span class="glyphicon glyphicon-hand-right corporate-color-green" aria-hidden="true"></span> knowledge transfer session to obtain extensive knowledge on your company, needs, requirements and values</span>
                    </li>
                    <li class="margin-bottom-10">
                        <span><span class="glyphicon glyphicon-hand-right corporate-color-green" aria-hidden="true"></span> our outsourcing staff work onshore side by side with you for regular periods to foster understanding</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6 text-right" style="vertical-align: bottom">
        <img src="~/Content/images/act_check.png" class="image-responsive" />
    </div>
</div>