
@{
    ViewBag.Title = "WhyTecwi";
}
<div class="row margin-bottom-10">
    <div class="col-md-6">
        <h2>WhyTecwi?</h2>
        <div class="row">
            <div class="col-md-12">
                <span class="glyphicon glyphicon-check corporate-color-green" aria-hidden="true"></span>
                We are focused on value-added
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span class="glyphicon glyphicon-check corporate-color-green" aria-hidden="true"></span>
                We bring you improvement in cost level and its reduction
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span class="glyphicon glyphicon-check corporate-color-green" aria-hidden="true"></span>
                We offer flexible, output-based pricing models
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span class="glyphicon glyphicon-check corporate-color-green" aria-hidden="true"></span>
                To top it all, we bring you improved focus on core business
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <img src="~/Content/images/benefits-of-business-automation.png" class="image-responsive" />
    </div>
</div>
<div class="row margin-bottom-10">
    <div class="col-md-12" style="background-color: ghostwhite">
        <h4>
            <span class="corporate-color-orange">Tecwi</span> is exclusively flexible and friendly. To prove that:<br/>
        </h4>
        <div class="row">
            <div class="col-md-12">
                <span class="glyphicon glyphicon-menu-right corporate-color-green" aria-hidden="true"></span> 
                trial 1 week project to showacase capabilities and gain trust
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span class="glyphicon glyphicon-menu-right corporate-color-green" aria-hidden="true"></span>
                knowledge transfer session to obtain extensive knowledge on your company need, requirements and values
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span class="glyphicon glyphicon-menu-right corporate-color-green" aria-hidden="true"></span>
                our outsourcing staff work onshore side by side with you for regular periods to foster understanding 
            </div>
        </div>
    </div>
</div>

