
@{
    ViewBag.Title = "WhyTecwi";
}
<div class="row">
    <div class="col-md-12">
        <img src="~/Content/images/lamps_big.png" class="image-responsive" />
    </div>
</div>
<div class="row margin-bottom-10">
    <div class="col-md-12 text-justify">
        <h2 class="corporate-color-brown">WhyTecwi?</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-8 text-justify">
        In Tecwi we believe that the successfull cooperation is based on understanding and sharing our Client's core culture,
        strategic priorities and specific needs. By listening and understanding we design and integrate our solutions better.
        We team up with our Client to perform vital functions at competitive rates and every skill level.<br />
        Yet as outsourcing evolves, the dynamics are shifting and opportunities are expanding. Holding down costs is just one of
        its main benefits. We are strategically leveraging relationships with our Client to help it become not only more profitable,
        but also more strategic, innovative, flexible. We aim to become a driver for your growth and transfrmation in the long run.<br />
        <br />
    </div>
    <div class="col-md-4">
        <blockquote class="blockquote-reverse corporate-color-orange">
            <em>Minds are like parachutes. They only function when open.</em><br />
            <span style="color: grey"><cite title="Sir Thomas Dewar">Sir Thomas Dewar (1864 - 1930)</cite></span>
        </blockquote>
    </div>
</div>
<div class="row margin-bottom-10">
    <div class="col-md-4" style="padding-left: 20px">
        <img src="~/Content/images/tecwiman.png" class="image-responsive"/>
        <blockquote class="blockquote-reverse corporate-color-orange">
            <em>Trust us. We're going to change the world. </em><br />
            <span style="color: grey"><cite title="Tecwiman">Tecwiman (Immortal Hero)</cite></span>
        </blockquote>
</div>
    <div class="col-md-8 text-left" style="padding-left: 20px">
        <div class="row">
            <div class="col-md-12 text-left">
                <h3 class="glyphicon glyphicon-check corporate-color-green" aria-hidden="true"></h3>
                We help you find new value as well as new efficiencies while being committed to quality
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="glyphicon glyphicon-check corporate-color-green" aria-hidden="true"></h3>
                We bring you improvement in cost level and its reduction, thus support your plans for growth
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="glyphicon glyphicon-check corporate-color-green" aria-hidden="true"></h3>
                We do bring you innovations and higher productivity
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="glyphicon glyphicon-check corporate-color-green" aria-hidden="true"></h3>
                We offer flexible, output-based pricing models
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="glyphicon glyphicon-check corporate-color-green" aria-hidden="true"></h3>
                We keep your ambitious nimble. Through us you are gaining marketplace agility that's worthy
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="glyphicon glyphicon-check corporate-color-green" aria-hidden="true"></h3>
                With us you are reaping the value that comes with being able to scale up or down as needed, without
                taking on the overhead or headaches that come with hiring, layoffs, or infrastructural investments
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="glyphicon glyphicon-check corporate-color-green" aria-hidden="true"></h3>
                To top it all, we bring you improved focus on core business
            </div>
        </div>
    </div>
</div>
<div class="row margin-bottom-10">
    <div class="col-md-8">
        <h4 class="corporate-color-brown">
            <h3 class="corporate-color-orange">Tecwi</h3> is exclusively flexible and friendly. To prove that:<br/>
        </h4>
        <div class="row">
            <div class="col-md-12">
                <h3 class="glyphicon glyphicon-menu-right corporate-color-green" aria-hidden="true"></h3>
                trial 1 week project to showacase capabilities and gain trust
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="glyphicon glyphicon-menu-right corporate-color-green" aria-hidden="true"></h3>
                knowledge transfer session to obtain extensive knowledge on your company need, requirements and values
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="glyphicon glyphicon-menu-right corporate-color-green" aria-hidden="true"></h3>
                our outsourcing staff work onshore side by side with you for regular periods to foster understanding
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <img src="~/Content/images/saving_p.png" class="image-responsive"/>
    </div>
</div>



