@model Mango.Entities.Models.MessageModel

@{
    Layout = null;
}

<div class="row conact-form color-white">
    <div class="col-md-8">
        <h3>Contact us</h3>

        <div class="row form-horizontal">

            <div class="col-md-12">
                <div class="row">
                    <div class="form-group col-md-5">
                        @Html.LabelFor(model => model.Name):
                        <input id="name" type="text" class="form-control" />
                    </div>
                    <div class="col-md-2"></div>
                    <div class="form-group col-md-5">
                        @Html.LabelFor(model => model.Contact):
                        <input id="contact" type="text" class="form-control" />
                    </div>
                </div>

            </div>
            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.MessageBody):
                    <textarea rows="10" cols="190" class="form-control" id="messageBody"></textarea>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <button id="send" class="btn btn-default" style="background-color: #d34b17; color: #fff">
                        <span class="glyphicon glyphicon-envelope" style="color: #fff" aria-hidden="true"></span>
                          Let's grow together!
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" id="thankYouMsg">Thank you for contacting us!</div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <h3>Call us</h3>
            </div>
            <div class="col-md-12">
                <b>UK, London</b><br />
                +44 7936 455 126
            </div>
            <div class="col-md-12">
                <b>Ukraine, Kiev</b><br />
                +38 095 465 79 66
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
<script>
    $(document).ready(function () {
        $("#thankYouMsg").hide();

        $("#send").on('click', function () {
            var name = $("#name").val();
            var contact = $("#contact").val();
            var messageBody = $("#messageBody").val();
            var mail = {
                SenderName: name,
                SenderContactDetails: contact,
                Message: messageBody
            };

            $.post('/home/ContactUs', mail, function () {
                $("#thankYouMsg").show();
            });
        });

    });
</script>




